################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignments/Assignment1/obj/project.assets.json
/Assignments/.vs/Assignments/v16/Server/sqlite3/db.lock
/Assignment2/.vs/Assignment2/v16/Server/sqlite3/db.lock
